.converter-title {
    text-align: center;
}

.scale-converter {
    margin-bottom: 25px;
}

.title-section {
    font-weight: inherit;
    font-size: inherit;
    margin-bottom: 3px;
}

.scale-Label {
    margin-right: 1ch;
}

.scale-input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #777;
    background-color: transparent;
    padding-left: 2px;
    width: 5ch;
}

.btn-convert{
    display: flex;
    background-color: rgb(25, 118, 210);
    outline: 0px;
    border: 0px;
    margin: 10px 0;
    padding: 7px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.select-multiplicator {
    margin-right: 1ch;
}

@media screen and (max-width: 768px) {
    .params-container {
        grid-area: 1/1/2/2;
        margin: 0 auto;
        width: 90vw;
    }
}