h2{
    text-align: center;
    margin: 20px 0;
}

.tableContainer{
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 50px;
    margin-top: 20px;
}

.list-table{
    width: 100%;
}

.table-cell{
    text-align: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.head-table{
    font-weight: bold;
    position: sticky;
    top: 0;
    /* background-color: rgb(206, 206, 238); */
    background-color: var(--menu-color);
    z-index: 2;
}

.name-details{
    cursor: zoom-in;
    color : black;
}

.name-details:hover{
    text-decoration: underline;
}

.icons-finished, .message-in-build {
    width: 30px;
    height: 30px;
}

.messagebox{
    position : relative;
    width: 30px;
    margin: 0 auto;
}

.num-message{
    position :absolute;
    display: flex;
    padding: 4px 6px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    background-color: #1976d2;
    top: -10px;
    right: -10px;
}

@media screen and (max-width: 768px) {
    .tableContainer{
        margin: 0 auto;
        width: 90vw;
        overflow-x: scroll;
    }

    .table-cell{
        padding: 8px;
        font-size: 0.7rem;
    }
}