<?xml version="1.0" encoding="UTF-8"?>
<config>
   <general>
      <!-- value should be debug or prod -->
      <env>prod</env>
   </general>
   <database>
      <login>YOUR_LOGIN</login> 
      <pass>YOUR_PASS</pass>
      <host>DB_HOST</host>
      <name>DB_NAME</name>
      <port>3306</port>
   </database>
   <mail>
      <admin>MAIL_ADMIN</admin>
   </mail>
   <security>
      <token>YOUR TOKEN</token>
   </security>
</config>